# AWS S3 - Receipt PDF Storage
AWS_ACCESS_KEY=AKIAQEIP3K2HYTYJXK2N
AWS_SECRET_KEY=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

# Gmail SMTP - Receipt Email Delivery
MAIL_USERNAME=ankitjanghare2106@gmail.com
MAIL_PASSWORD=vyyikxjbeholthzy
